@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img{
  display: block;
  max-width: 100%;
}

a{
  color: inherit;
}

body{
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  color: #222;
}

.flex{
  display: flex;
  align-items: center;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}


/* SUPERIOR INFO */
.info-bg{
  background: #274ea3;
  color: #fff;
  padding: 10px 0;
}

.info{
  justify-content: space-between;
  flex-wrap: wrap;
}

.info p, .info a{
  padding: 10px 20px;
}
/* NAV BAR AREA */
.menu-bg{
  background: #4774d4;
  color: #fff;
  padding: 10px 0;
}

.menu{
  justify-content: space-between;
  padding: 0;
}

.menu-logo{
  font-size: 2rem;
  font-weight: 700;
  flex-wrap: wrap;
}

.menu-ul{
  flex-wrap: wrap;
}

.menu a{
  display: inline-block;
  padding: 10px 20px;
}

.menu a::after{
  content: '';
  position: relative;
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: .2s ease-in-out;
}.menu a:hover::after{
  width: 100%;
}

/*INTRODUCTION */
.introducao{
  position: relative;
  font-size: 3rem;
  padding: 60px 20px;
}

/* SOBRE -- INSPIRADO PELO CURSO */

#sobre{
  padding: 20px 20px;
  border-top: 2px solid #274ea3;
  border-bottom: 2px solid #274ea3;
}

.sobre{
  gap: 20px;
  flex-wrap: wrap;
}

#sobre h1{
  font-size: 3rem;
  padding-bottom: 24px;
}

.sobre-info{
  flex: 2 1 450px;
  align-self: flex-start;
}

.sobre-info p{
  font-size: 1.3rem;
  line-height: 1.4;
}

.sobre-imgs{
  flex: 1 1 170px;
  align-self: flex-start;
}

.produtos-container{
  align-items: end;
}